.kids-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darker-purple-color;
    max-width: 1000px;
    width: 90%;
    margin: 30px auto;

    .logout {
        cursor: pointer;
       
        &:hover {
            font-weight: bold;
        }
    }

    .icon {
        padding: 15px;
        padding-bottom: 10px;
        font-size: 25px;
        justify-self: flex-end;
        transform: rotate(180deg);

        &:hover {
          cursor: pointer;
          color: $darker-purple-color;
        }
    }

}

.kids-container {
    display: grid;
    gap: 30px;
    max-width: 1000px;
    width: 90%;
    margin: auto;

    &:hover .kid {
        cursor: pointer;
        box-shadow: 10px 10px 30px #F4C9C0AD;
        opacity: 0.5;
    }

    .kid {
        display: flex;
        gap: 30px;
        width: 100%;
        background: $creamy-color;
        color: $darker-purple-color;
        padding: 30px;
        border-radius: 15px;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            box-shadow: 10px 10px 30px #F4C9C0AD;
            opacity: 1;
        }

        .kid-image {
            width: 82px;
            height: 82px;
            border-radius: 82px;
            object-fit: cover;
        }

        .kid-name {
            font-size: 20px;
        }

        .kid-birthday,
        .kid-age {
            opacity: 0.5;
            font-size: 14px;
        }
    }

    .new-kid-button {
        height: 56px;
        width: 100%;
        margin: 30px auto;
        border-radius: 15px;
        background: $purple-color;
        color: $creamy-color;
        font-size: 14px;
        outline: none;
        border: none;
        transition: 0.3s;

        &:hover {
            cursor: pointer;
            background: $darker-purple-color;
        }
    }

}


.add-memory-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 90%;
    margin: 30px auto;
    margin-bottom: -15px;
    color: $purple-color;

    h2 {
        font-weight: bold;
        font-size: 20px;

        @media (min-width: 768px){
            font-size: 30px;
        }
    }

    .icon {
        padding: 15px;
        padding-bottom: 10px;
        font-size: 25px;
        justify-self: flex-end;
        transform: rotate(180deg);

        &:hover {
          cursor: pointer;
          color: $darker-purple-color;
        }
    }
}

.add-memory-section {
    display: grid;
    max-width: 1000px;
    width: 90%;
    margin: 30px auto;

    label, button {
        text-transform: uppercase;
    }

    input[type="file"] {
       display: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    textarea {
        background: $creamy-color;
        border: none;
        border-radius: 8px;
        padding: 15px;
        outline: none;
        color: $darker-purple-color;
        resize: none;
        height: 200px;
        margin: 30px 0;
        font-size: 18px;

        @media (min-width: 768px){
            font-size: 22px;
            line-height: 30px;
        }
        
        &::-webkit-scrollbar {
            display: none;
        }

        &::placeholder {
            color: $darker-creamy-color;
        }
    }
    

    .file {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        border: 5px solid $purple-color;
        height: 300px;
        border-radius: 5px;
        cursor: pointer;

        &:hover .icon {
            color: $darker-purple-color;
            transform: scale(1.1);
        }
        .icon {
            font-size: 50px;
            color: $purple-color;
            transition: 0.3s;
        }
    }

    .add-memory-metrics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .metric {
            text-align: center;
            color: $purple-color;
            font-size: 18px;

            @media (min-width: 768px){
                font-size: 22px;
                line-height: 30px;
            }

            label {
                opacity: 0.5;
            }
    
            input {
                width: 100%;
                text-align: center;
                background: none;
                border: none;
                font-size: 22px;

                @media (min-width: 768px){
                    font-size: 26px;
                }
                color: $darker-purple-color;
            }
        }
    }

    button {
        color: $creamy-color;
        background: $purple-color;
        height: 56px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 14px;
        font-size: 14px;
        transition: 0.3s;
      
        @media(min-width: 768px){
          font-size: 19px;
        }
    
        &:hover {
          cursor: pointer;
          background: $darker-purple-color;
        }
      }
}
