.months-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1080px;
    margin: 50px auto;
  }
  
  .month-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: 0.3s;
    position: relative;
  
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px black;
      transform: scale(1.05);
    }
  
    &:hover img {
      transform: scale(1.1);
      transition: 0.3s;
    }

    i {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;

        svg {
            transform: scale(1);
            fill: white;
        }
    }

    &:hover i {
        svg {
            transform: scale(3);
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* This ensures that the aspect ratio is maintained */
    }

    .month {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 15%;
        bottom: 0;
        background-color: transparent;
        color: white;
        font-weight: bold; /* Make the text bold */

        @media (max-width: 768px) {
            font-size: 0.8em;
        }

        @media (max-width: 500px) {
            font-size: 0.7em;
            height: 25%;
        }
    }
}



.upload-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; // to ensure it's above other content
  }
  
  .expanded-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; // to ensure it's above other content
  
    img {
      max-width: 90%;
      max-height: 90%;
    }
  
    button {
      display: block;
      margin: 10px auto;
      padding: 5px 10px;
    }
  }
