$creamy-color: #FFF5F2;
$primary-color: #FFECE5;
$blank-color: #C7ABA6;
$purple-color: #997EA7;
$darker-purple-color: #593c67;
$font-title: 'Archivo Black';
$font-text: 'red hat display';
$desktop: 1000px;
$tablet: 768px;
$mobile: 500px;
